{% extends "../base.html" %}

{% block content %}
    <p>Last {{ txns|length }} transaction{{ txns|length|pluralize }} logged for {{ metric.name|escape }}:
      <table>
	<tr class="legend-row"><th>Date</th><th>Value</th><th>Unit</th><th>Job</th><th>Ops</th></tr>
      {% for txn in txns %}
      <tr class="{% cycle odd-row,even-row %}">
	<td>{{ txn.created|escape }}</td>
	<td>{{ txn.value|escape }}</td>
	<td>{{ txn.metric.unit|escape }}</td>
	<td>{{ txn.job.archetype.name|escape }}</td>
	<td>
	  <a href="/me/metric/rollback?key={{ txn.key|urlencode }}">rollback</a>
	</td>
      </tr>
      {% endfor %}
      </table>
    </p>

    {% if txn_values %}
    <img src="http://chart.apis.google.com/chart?chf=bg,s,0000ff00&cht=lxy&chd=t:{{ txn_times|join:"," }}|{{ txn_values|join:"," }}&chs=400x150&chxt=x,y&chxl=0:||time||1:||value|" />
    {% endif %}

{% block navigation %}<div id="tools"><span>&#187;<a href="/me">Back to profile</a></span></div>{% endblock %}

{% endblock %}
