{% extends "../base.html" %}

{% block content %}
    <p>Got {{ metrics|length }} of {{ count|escape }} metrics.</p>
    <p>
      <table>
	<tr class="legend-row"><th>Name</th><th>Job</th><th>Ops</th></tr>
      {% for metric in metrics %}
      <tr class="{% cycle odd-row,even-row %}">
	<td><a href="/me/metric/edit?key={{ metric.key|urlencode }}">{{ metric.name|escape }}</a></td>
	<td>{% if metric.connected_to %}
	  level {{ metric.connected_to.level|escape }} {{ metric.connected_to.archetype.name|escape }}
	  {% else %}none{% endif %}</td>
	<td>
	  <a href="/me/metric/txns?key={{ metric.key|urlencode }}">txns</a>
	  <a href="/me/metric/connect?key={{ metric.key|urlencode }}">connect</a>
	  <a href="/me/metric/merge?key={{ metric.key|urlencode }}">merge</a>
	  <a href="/me/metric/delete?key={{ metric.key|urlencode }}">delete</a>
	</td>
      </tr>
      {% endfor %}
      </table>
    </p>

{% block navigation %}<div id="tools"><span>&#187;<a href="/me">Back to profile</a></span></div>{% endblock %}

{% endblock %}
