{% extends "base.html" %}

{% block content %}
{% block profile %}
<p><img src="{% if archetype %}{{ archetype.sprite|urlencode }}{% else %}/images/onion.png{% endif %}"
        style="width: 2.5em; height: 3.5em;" />
  <font size=13>{{ me.heroic_alias|escape }}</font></p>
{% block attributes %}
<div>
  <table id="stats">
    <style>
      table#stats th { background-color: #aaa; }
      table#stats td { background-color: #ccc; }
    </style>
    <tr><th>Might</th><td>{{ me.attributes.might }}</td>
      <th>Intellect</th><td>{{ me.attributes.intellect }}</td></tr>
    <tr><th>Dexterity</th><td>{{ me.attributes.dexterity }}</td>
      <th>Wisdom</th><td>{{ me.attributes.wisdom }}</td></tr>
    <tr><th>Constitution</th><td>{{ me.attributes.constitution }}</td>
      <th>Perception</th><td>{{ me.attributes.perception }}</td></tr>
    <tr><th>Charisma</th><td>{{ me.attributes.charisma }}</td>
      <th>Patience</th><td>{{ me.attributes.patience }}</td></tr>
  </table>
</div>
{% endblock attributes %}
{% endblock profile %}

{% block profile_tools %}{% endblock profile_tools %}

{% block jobs %}
<hr />
{% if jobs %}
<table>
  {% for job in jobs %}
  <tr class="job">
    <td style="background-color: #abb">
      {% block job_url %}Level {{ job.level|escape }} {{ job.archetype.name|escape|capfirst }}{% endblock %}
    </td>
    <td>
      <div class="xp-bar">
	<div class="xp-bar-inner" style="width: {% widthratio job.xp job.xp_to_next_level 100 %}%;"></div>
	<div class="xp-bar-current">{{ job.xp }}</div>
	<div class="xp-bar-to-next">/ {{ job.xp_to_next_level }}</div>
      </div>
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock jobs %}
{% block levels_chart %}
{% if level_percentage %}
<img src="http://chart.apis.google.com/chart?chf=bg,s,0000ff00&cht=p&chd=t:{{ level_percentage|join:"," }}&chs=250x100&chl={{ job_names|join:"|" }}" />
{% endif %}
{% endblock levels_chart %}

{% block job_tools %}{% endblock job_tools %}

{% block metrics %}{% endblock %}

{% block companions %}{% endblock %}
{% block companion_tools %}{% endblock companion_tools %}

{% block gatherer_config %}{% endblock %}
{% block admin_tools %}{% endblock %}

{% block navigation %}<div id="navigation"><span>&#187;<a href="/">Back to front page</a></span></div>{% endblock %}

{% endblock content %}
