<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <title>Level Up!</title>
  </head>
  <body>
    <p>Edit your character here.</p>

    <form action="/me/create" method="post">
      <div>Heroic alias: <input type="text" name="heroic_alias" value="{{ me.heroic_alias|escape }}" /></div>
      <div>Sex: <input type="radio" name="sex" value="male" {% ifequal me.sex "male" %}checked{% endifequal %} />Male
	<input type="radio" name="sex" value="female" {% ifequal me.sex "female" %}checked{% endifequal %} />Female
	<input type="radio" name="sex" value="other" {% ifequal me.sex "other" %}checked{% endifequal %} />Other
      </div>
      <div>Height</div>
      <div>Weight</div>
      <div>Skin color</div>
      <div>Hair color (or bald)</div>
      <div>Eye color</div>
      <div>Favorite color (for clothes)</div>
      <div><input type="submit" value="Change" /></div>
    </form>
  </body>
</html>
