{% extends "base.html" %}

{% block content %}
    <p>Edit your character here.</p>

    <form action="/me/create" method="post">
      <div>Heroic alias: <input type="text" name="heroic_alias" value="{{ me.heroic_alias|escape }}" /></div>
      <div>Sex: <input type="radio" name="sex" value="male" {% ifequal me.sex "male" %}checked{% endifequal %} />Male
	<input type="radio" name="sex" value="female" {% ifequal me.sex "female" %}checked{% endifequal %} />Female
	<input type="radio" name="sex" value="other" {% ifequal me.sex "other" %}checked{% endifequal %} />Other
      </div>
      <div>Height</div>
      <div>Weight</div>
      <div>Skin color</div>
      <div>Hair color (or bald)</div>
      <div>Eye color</div>
      <div>Favorite color (for clothes)</div>
      <div><input type="submit" value="Change" /></div>
    </form>
{% endblock %}
