{% extends "base.html" %}

{% block content %}
{% block login %}
    <div style="width: 30%; float: right;">
      <div style="height: 8em;">
	{% if user %}
	<p>Hello, {{ user.nickname|escape }} {% if adminp %}(<b>administrator</b>){% endif %}</p>
	<span>&#187;<a href="/me">My profile</a> -- <img src="{% if archetype %}{{ archetype.sprite|urlencode }}{% else %}/images/onion.png{% endif %}" /></span>
	{% endif %}

	<br /><span>&#187;<a href="{{ login_url }}">{% if user %}Sign out{% else %}Log in{% endif %}</a></span>
      </div>
{% endblock login %}

{% block caveats %}
      <div class="round">
	<h3 style="text-align: center;">Caveats</h3>
	<ul>
	  <li>This software is not complete.</li>
	  <li>This software is not secure.</li>
	  <li>Use at your own risk.</li>
	</ul>
      </div>
    </div>
{% endblock caveats %}

{% block site_news %}
    {% if news %}
    <p><h2>What's new</h2>
      <dl>
      {% for item in news %}
      <dt><b>{{ item.title }}</b> <i>({{ item.created.date }})</i></dt>
      <dd>{{ item.body }}</dd>
      {% endfor %}
      </dl>
    </p>
    {% endif %}
{% endblock site_news %}

{% block hall_of_heroes %}
    {% if hall_of_heroes %}
    <hr />
    <p><h2>Hall of Heroes</h2>
      <table>
	<tr class="legend-row">
	  <th />
	  <th>Name</th>
	  <th>Primary class</th>
	  <th>Secondary classes</th>
	</tr>
	{% for hero in hall_of_heroes %}
	<tr class="{% cycle odd-row,even-row %}">
	  <td><img src="{% if hero.archetype %}{{ hero.archetype.sprite|urlencode }}{% else %}/images/onion.png{% endif %}" /></td>
	  <td>{% if user %}
	    <a href="/view?key={{ hero.character.key|urlencode }}">{{ hero.character.heroic_alias|escape }}</a>
	    {% else %}
	    {{ hero.character.heroic_alias|escape }}
	    {% endif %}</td>
	  <td>Level {{ hero.primary_class.level|escape }}
	    {{ hero.primary_class.archetype.name|escape|capfirst }}
	  </td>
	  <td>{% for class in hero.secondary_classes %}{{ class.archetype.name|escape|capfirst }}({{ class.level|escape }}){% if not forloop.last %}, {% endif %}{% endfor %}</td>
	</tr>
	{% endfor %}
    </table></p>
    {% endif %}
{% endblock hall_of_heroes %}
{% endblock content %}
