<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <title>Level Up!</title>
  </head>
  <body>
    <div style="width: 30%; float: right;">
      <div style="height: 8em;">
	{% if user %}
	<p>Hello, {{ user.nickname|escape }} {% if adminp %}(<b>administrator</b>){% endif %}</p>
	<p><a href="/me"><img src="{% if archetype %}{{ archetype.sprite|urlencode }}{% else %}/images/onion.png{% endif %}" />My profile.</a></p>
	{% endif %}
	<p><a href="{{ login_url }}">{% if user %}Sign out{% else %}Log in{% endif %}</a></p>
      </div>

      <div class="round">
	<p><center><h3>Caveats</h3></center>
	  <ul>
	    <li>This software is not complete.</li>
	    <li>This software is not secure.</li>
	    <li>Use at your own risk.</li>
	  </ul>
	</p>
      </div>
    </div>

    {% if news %}
    <p><h2>What's new</h2>
      <dl>
      {% for item in news %}
      <dt><b>{{ item.title }}</b> <i>({{ item.created.date }})</i></dt>
      <dd>{{ item.body }}</dd>
      {% endfor %}
      </dl>
    </p>
    {% endif %}

    {% if hall_of_heroes %}
    <hr />
    <p><h2>Hall of Heroes</h2>
      <table>
	<tr class="legend-row">
	  <th />
	  <th>Name</th>
	  <th>Primary class</th>
	  <th>Secondary classes</th>
	</tr>
	{% for hero in hall_of_heroes %}
	<tr class="{% cycle odd-row,even-row %}">
	  <td><img src="{% if hero.archetype %}{{ hero.archetype.sprite|urlencode }}{% else %}/images/onion.png{% endif %}" /></td>
	  <td>{% if user %}
	    <a href="/view?key={{ hero.character.key|urlencode }}">{{ hero.character.heroic_alias|escape }}</a>
	    {% else %}
	    {{ hero.character.heroic_alias|escape }}
	    {% endif %}</td>
	  <td>Level {{ hero.primary_class.level|escape }}
	    {{ hero.primary_class.archetype.name|escape|capfirst }}
	  </td>
	  <td>{% for class in hero.secondary_classes %}{{ class.archetype.name|escape|capfirst }}({{ class.level|escape }}){% if not forloop.last %}, {% endif %}{% endfor %}</td>
	</tr>
	{% endfor %}
    </table></p>
    {% endif %}

  </body>
</html>
