<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <title>Level Up!</title>
  </head>
  <body>
    {% if user %}
    <p>Hello, {{ user.nickname|escape }} {% if adminp %}(<b>administrator</b>){% endif %}</p>
    <p><a href="/me"><img src="{% if archetype %}{{ archetype.sprite|urlencode }}{% else %}/images/mage.gif{% endif %}" />My profile.</a></p>
    {% endif %}
    <p><a href="{{ login_url }}">{% if user %}Sign out{% else %}Log in{% endif %}</a></p>

    <hr />
    <p><h2>Caveats</h2>
      <ul>
	<li>This software is nowhere near complete.</li>
	<li>This software is in no way secure.</li>
	<li>Use at your own risk.</li>
      </ul>
    </p>

    {% if hall_of_heroes %}
    <hr />
    <p><h2>Hall of Heroes</h2>
      <table>
	<tr class="legend-row">
	  <td />
	  <td>Name</td>
	  <td>Primary class</td>
	  <td>Secondary classes</td>
	</tr>
	{% for hero in hall_of_heroes %}
	<tr class="{% cycle odd-row,even-row %}">
	  <td><img src="{% if hero.archetype %}{{ hero.archetype.sprite|urlencode }}{% else %}/images/mage.gif{% endif %}" /></td>
	  <td>{% if user %}
	    <a href="/view?key={{ hero.character.key|urlencode }}">{{ hero.character.heroic_alias|escape }}</a>
	    {% else %}
	    {{ hero.character.heroic_alias|escape }}
	    {% endif %}</td>
	  <td>Level {{ hero.primary_class.level|escape }}
	    {{ hero.primary_class.archetype.name|escape|capfirst }}
	  </td>
	  <td>{% for class in hero.secondary_classes %}{{ class.archetype.name|escape|capfirst }}({{ class.level|escape }}){% if not forloop.last %}, {% endif %}{% endfor %}</td>
	</tr>
	{% endfor %}
    </table></p>
    {% endif %}

  </body>
</html>
