{% extends "base.html" %}

{% block content %}
    <img src="{% if archetype %}{{ archetype.sprite|urlencode }}{% else %}/images/onion.png{% endif %}" />
    <h1>Level {{ job.level|escape }} {{ job.archetype.name|escape|capfirst }}</h1>
    <div class="xp-bar">
      <div class="xp-bar-inner" style="width: {% widthratio job.xp job.xp_to_next_level 100 %}%;"></div>
      <div class="xp-bar-current">{{ job.xp }}</div>
      <div class="xp-bar-to-next">/ {{ job.xp_to_next_level }}</div>
    </div>

    {% if xp_percentage %}
    <img src="http://chart.apis.google.com/chart?chf=bg,s,0000ff00&cht=p&chd=t:{{ xp_percentage|join:"," }}&chs=250x100&chl={{ metric_names|join:"|" }}" />
    {% endif %}


    {% if metrics %}
    <p>Metrics:
      <table>
	<tr class="legend-row"><th>Name</th><th>Units</th><th>Conversion</th><th>Ops</th></tr>
      {% for metric in metrics %}
      <tr class="{% cycle odd-row,even-row %}">
	<td>
	  {% ifequal metric.type 'manual' %}
	  <a href="/me/metric/manual?key={{ metric.key|urlencode }}">{{ metric.name|escape }}</a>
	  {% else %}
	  {{ metric.name|escape }}
	  {% endifequal %}
	</td>
	<td>{{ metric.unit|escape }}</td>
	<td>{{ metric.ratio_n }}:{{ metric.ratio_d }}</td>
	<td>
	  <a href="/me/metric/txns?key={{ metric.key|urlencode }}">txns</a>
	  <a href="/me/metric/connect?key={{ metric.key|urlencode }}">connect</a>
	  <a href="/me/metric/delete?key={{ metric.key|urlencode }}">delete</a>
	</td>
      </tr>
      {% endfor %}
      </table>
    </p>
    {% endif %}

    <p><a href="/me/metric">All Metrics</a> <a href="/me/metric/add?default_job={{ job.key|urlencode }}">Add Metric</a></p>
{% endblock %}
