<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <title>Level Up!</title>
  </head>
  <body>
    <p>Got {{ metrics|length }} of {{ count|escape }} metrics.</p>
    <p>
      <table>
	<tr class="legend-row"><td>Name</td><td>Job</td><td>Ops</td></tr>
      {% for metric in metrics %}
      <tr class="{% cycle odd-row,even-row %}">
	<td>{{ metric.name|escape }}</td>
	<td>{% if metric.connected_to %}
	  level {{ metric.connected_to.level|escape }} {{ metric.connected_to.archetype.name|escape }}
	  {% else %}none{% endif %}</td>
	<td>
	  <a href="/me/metrics/txns?key={{ metric.key|urlencode }}">txns</a>
	  <a href="/me/metrics/connect?key={{ metric.key|urlencode }}">connect</a>
	  <a href="/me/metrics/delete?key={{ metric.key|urlencode }}">delete</a>
	</td>
      </tr>
      {% endfor %}
      </table>
    </p>
  </body>
</html>
