{% extends "base.html" %}

{% block content %}
    <p>Last {{ txns|length }} transaction{{ txns|length|pluralize }} logged for {{ metric.name|escape }}:
      <table>
	<tr class="legend-row"><th>Date</th><th>Value</th><th>Unit</th><th>Job</th><th>Ops</th></tr>
      {% for txn in txns %}
      <tr class="{% cycle odd-row,even-row %}">
	<td>{{ txn.created|escape }}</td>
	<td>{{ txn.value|escape }}</td>
	<td>{{ txn.metric.unit|escape }}</td>
	<td>{{ txn.job.archetype.name|escape }}</td>
	<td>
	  <a href="/me/metric/rollback?key={{ txn.key|urlencode }}">rollback</a>
	</td>
      </tr>
      {% endfor %}
      </table>
    </p>
{% endblock %}
