<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <title>Level Up!</title>
  </head>
  <body>
    <!-- profile -->
    <p><img src="{% if archetype %}{{ archetype.sprite|urlencode }}{% else %}/images/onion.png{% endif %}" /><b>{{ me.heroic_alias|escape }}</b></p>
    {% if xp_percentage %}
    <img src="http://chart.apis.google.com/chart?chf=bg,s,0000ff00&cht=p&chd=t:{{ xp_percentage|join:"," }}&chs=250x100&chl={{ job_names|join:"|" }}" />
    {% endif %}

    <!-- jobs -->
    <hr />
    {% if jobs %}
    <p>Job{{ jobs|pluralize }}:</p>
    <table>
      {% for job in jobs %}
      <tr class="job">
	<td style="background-color: #abb">
	  Level {{ job.level|escape }} {{ job.archetype.name|escape|capfirst }}</a>
	</td>
	<td>
	  <div class="xp-bar">
	    <div class="xp-bar-inner" style="width: {% widthratio job.xp job.xp_to_next_level 100 %}%;"></div>
	    <div class="xp-bar-current">{{ job.xp }}</div>
	    <div class="xp-bar-to-next">/ {{ job.xp_to_next_level }}</div>
	  </div>
	</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    <hr />
    <!-- companions / clans -->

  </body>
</html>
